.App {
  font-family: sans-serif;
}

.App {
  font-family: sans-serif;
}

.folder {
  margin-top: 6px;
  background-color: lightgray;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  padding: 2px;
  width: 300px;
  cursor: pointer;
}

.file {
  margin-top: 5px;
  padding-left: 5px;
  display: flex;
  flex-direction: column;
}
.folder > span {
  margin: 0 5px;
}
