.status {
  font-size: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 60px);
  justify-content: center;
}

.cell {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border: 1px solid #000;
  font-size: 24px;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.cell:hover {
  background-color: antiquewhite;
}

.reset{
  padding: 5px 10px;
  color: red;
}
